#-----------------------------------
# Files
#-----------------------------------
./deployment
./.git
./.github
./docs

#-----------------------------------
# Directories
#-----------------------------------
node_modules