#-----------------------------------
# Ide
#-----------------------------------
./idea
**/.DS_Store

#-----------------------------------
# Directories
#-----------------------------------
vendor
node_modules
