#-----------------------------------
# Ide
#-----------------------------------
./idea
./vscode
**/.DS_Store

#-----------------------------------
# Directories
#-----------------------------------
vendor
node_modules
